/* Fonts definitions */

/* Atkinson Hyperlegible Next (Braille Institute) */
@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  src: url('/assets/fonts/AtkinsonHyperlegibleNext-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  src: url('/assets/fonts/AtkinsonHyperlegibleNext-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  src: url('/assets/fonts/AtkinsonHyperlegibleNext-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  src: url('/assets/fonts/AtkinsonHyperlegibleNext-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  src: url('/assets/fonts/AtkinsonHyperlegibleNext-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  src: url('/assets/fonts/AtkinsonHyperlegibleNext-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* JuliaMono (cormullion) */
@font-face {
  font-family: 'JuliaMono';
  src: url('/assets/fonts/JuliaMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JuliaMono';
  src: url('/assets/fonts/JuliaMono-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JuliaMono';
  src: url('/assets/fonts/JuliaMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JuliaMono';
  src: url('/assets/fonts/JuliaMono-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* STIX Two Text & STIX Two Math */
@font-face {
  font-family: 'STIX Two Text';
  src: url('/assets/fonts/STIXTwoText.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'STIX Two Text';
  src: url('/assets/fonts/STIXTwoText-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'STIX Two Math';
  src: url('/assets/fonts/STIXTwoMath.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
